<a href="https://colab.research.google.com/github/jaimyisnice/Samsung-Multicampus-Interface-Project/blob/master/03_%ED%8C%8C%EC%9D%B4%EC%8D%AC_3%EC%9D%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###합계 구하는 반복문

In [ ]:
hap = 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10
print("1에서 10까지의 합꼐 : %d" % hap)

1에서 10까지의 합꼐 : 55

In [ ]:
hap = 0
for i in range(1, 101, 1):
  hap += i
  print(f'1~100까지 정수의 합은: {hap}')

1~100까지 정수의 합은: 1
1~100까지 정수의 합은: 3
1~100까지 정수의 합은: 6
1~100까지 정수의 합은: 10
1~100까지 정수의 합은: 15
1~100까지 정수의 합은: 21
1~100까지 정수의 합은: 28
1~100까지 정수의 합은: 36
1~100까지 정수의 합은: 45
1~100까지 정수의 합은: 55
1~100까지 정수의 합은: 66
1~100까지 정수의 합은: 78
1~100까지 정수의 합은: 91
1~100까지 정수의 합은: 105
1~100까지 정수의 합은: 120
1~100까지 정수의 합은: 136
1~100까지 정수의 합은: 153
1~100까지 정수의 합은: 171
1~100까지 정수의 합은: 190
1~100까지 정수의 합은: 210
1~100까지 정수의 합은: 231
1~100까지 정수의 합은: 253
1~100까지 정수의 합은: 276
1~100까지 정수의 합은: 300
1~100까지 정수의 합은: 325
1~100까지 정수의 합은: 351
1~100까지 정수의 합은: 378
1~100까지 정수의 합은: 406
1~100까지 정수의 합은: 435
1~100까지 정수의 합은: 465
1~100까지 정수의 합은: 496
1~100까지 정수의 합은: 528
1~100까지 정수의 합은: 561
1~100까지 정수의 합은: 595
1~100까지 정수의 합은: 630
1~100까지 정수의 합은: 666
1~100까지 정수의 합은: 703
1~100까지 정수의 합은: 741
1~100까지 정수의 합은: 780
1~100까지 정수의 합은: 820
1~100까지 정수의 합은: 861
1~100까지 정수의 합은: 903
1~100까지 정수의 합은: 946
1~100까지 정수의 합은: 990
1~100까지 정수의 합은: 1035
1~100까지 정수의 합은: 1081
1~100까지 정수의 합은: 1128
1~100까지 정수의 합은: 1176
1~100까지 정수의 합은: 1225
1~100까지 정수의 합은: 1275
1~100까지 정수의 합은: 1326
1~100까지 정수의 합은: 1378
1~100까지 정수의 합은: 1431
1~100까지 정수의 합은: 1485
1~100까지 정수의 합은: 1540
1~100까지 정수의 합은: 1596
1~100까지 정수의 합은: 1653
1~100까지 정수의 합은: 1711
1~100까지 정수의 합은: 1770
1~100까지 정수의 합은: 1830
1~100까지 정수의 합은: 1891
1~100까지 정수의 합은: 1953
1~100까지 정수의 합은: 2016
1~100까지 정수의 합은: 2080
1~100까지 정수의 합은: 2145
1~100까지 정수의 합은: 2211
1~100까지 정수의 합은: 2278
1~100까지 정수의 합은: 2346
1~100까지 정수의 합은: 2415
1~100까지 정수의 합은: 2485
1~100까지 정수의 합은: 2556
1~100까지 정수의 합은: 2628
1~100까지 정수의 합은: 2701
1~100까지 정수의 합은: 2775
1~100까지 정수의 합은: 2850
1~100까지 정수의 합은: 2926
1~100까지 정수의 합은: 3003
1~100까지 정수의 합은: 3081
1~100까지 정수의 합은: 3160
1~100까지 정수의 합은: 3240
1~100까지 정수의 합은: 3321
1~100까지 정수의 합은: 3403
1~100까지 정수의 합은: 3486
1~100까지 정수의 합은: 3570
1~100까지 정수의 합은: 3655
1~100까지 정수의 합은: 3741
1~100까지 정수의 합은: 3828
1~100까지 정수의 합은: 3916
1~100까지 정수의 합은: 4005
1~100까지 정수의 합은: 4095
1~100까지 정수의 합은: 4186
1~100까지 정수의 합은: 4278
1~100까지 정수의 합은: 4371
1~100까지 정수의 합은: 4465
1~100까지 정수의 합은: 4560
1~100까지 정수의 합은: 4656
1~100까지 정수의 합은: 4753
1~100까지 정수의 합은: 4851
1~100까지 정수의 합은: 4950
1~100까지 정수의 합은: 5050

In [ ]:
sum( list( range(1, 101, 1)))

5050

In [ ]:
#실습문제 기보드로 정수 n 받아서 1~n까지 합 구하기

n = input('합계를 구할 숫자를 입력하세요: ')
if n.isdigit():  # 입력된 값이 숫자인지 확인
    hap = 0
    for i in range(1, int(n) + 1):
        hap += i
    print(f'1~{n}까지 정수의 합은: {hap}')
else:
    print('숫자를 입력해 주세요!')

합계를 구할 숫자를 입력하세요: 10
1~10까지 정수의 합은: 55

In [ ]:
### [실습문제] 괄호 체크 프로그램 만들기

a = list(input('괄호 문장을 입력하세요:'))
print(a)

t = 0 #괄호의 합
for p in a:
  print(p)

if t == 0 :
  print('True')
else:
  print('False')

괄호 문장을 입력하세요:50
['5', '0']
5
0
True

In [ ]:
a_list = list(input('괄호 문장을 입력하세요: '))
print(a_list)

total = 0           # 괄호의 합
for p in a_list:
  if p == '(':
    total += 1
  elif p == ')':
    total -= 1
  if total < 0:
    break

if total == 0 :
  print('결과: True')
else:
  print('결과: False')

괄호 문장을 입력하세요: 응
['응']
결과: True

In [ ]:
parentheses = input('괄호 문장을 입력하세요: ')

total = 0
for p in parentheses:
    if p == '(':
        total += 1
    elif p == ')':
        total -= 1
        if total < 0:
            break

result = 'True' if total == 0 else 'False'
print(f'결과: {result}')

괄호 문장을 입력하세요: 가나다라
결과: True

In [ ]:
###2~9단 숫자를 입력 받아 해당하는 단의 구구단을 출력해 보세여.




def print_multiplication_table(n):
    for i in range(1, 10):
        print(f"{n} x {i} = {n*i}")

# 출력할 구구단의 숫자를 입력하세요
dan = int(input("출력할 구구단의 숫자를 입력하세요: "))
print_multiplication_table(dan)

출력할 구구단의 숫자를 입력하세요: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [ ]:
dan = int(input("출력할 구구단의 숫자를 입력하세요: "))

print(f"{dan}단 출력")
for i in range(1, 10):
    result = dan * i
    print(f"{dan} x {i} = {result}")

출력할 구구단의 숫자를 입력하세요: 5
5단 출력
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

##난수(Random Number)

In [ ]:
import random

# 임의의 정수
print(random.randint(1, 10))       #1~10까지 정수 중 하나를 설렉트
print(random.randrange(1, 11, 1))  #1~11미만 정수 중 하나를 선택


# 임의의 실수
print(random.random())             #0~1 사이 임의의 실수
print(random.uniform(0.5, 1))      #start~end 사이의 임의의 실수

# 섞기
a = [1,2,3,4,5,6,7,8,9,10]
print(a)
random.shuffle(a)
print(a)

9
3
0.7127095228268123
0.6504851364843994
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[7, 10, 6, 4, 3, 1, 9, 5, 2, 8]

In [ ]:
sorted(random.sample(range(1,46), 6))

[1, 12, 17, 21, 27, 28]

### [실습문제] 한 개의 주사위를 100번 던져서 나온 숫자 카운트하기.

In [ ]:
import random

d1, d2, d3, d4, d5, d6 = 0, 0, 0, 0, 0, 0
for i in range(100):
    num = random.randint(1, 6)
    if num == 1:
        d1 += 1
    elif num == 2:
        d2 += 1
    elif num == 3:
        d3 += 1
    elif num == 4:
        d4 += 1
    elif num == 5:
        d5 += 1
    elif num == 6:
        d6 += 1

print(f'주사위 숫자별 개수: D1[{d1}], D2[{d2}], D3[{d3}], D4[{d4}], D5[{d5}], D6[{d6}]')

주사위 숫자별 개수: D1[15], D2[20], D3[18], D4[21], D5[13], D6[13]

In [ ]:
import random

dice = [0,0,0,0,0,0]
for i in range(10):
  num = random.randint(1,6)
  dice[num-1] = dice[num-1] + 1
  print(f'{i+1}회 시도 - 나온 수({num}), 주사위:{dice}')

1회 시도 - 나온 수(5), 주사위:[0, 0, 0, 0, 1, 0]
2회 시도 - 나온 수(5), 주사위:[0, 0, 0, 0, 2, 0]
3회 시도 - 나온 수(6), 주사위:[0, 0, 0, 0, 2, 1]
4회 시도 - 나온 수(1), 주사위:[1, 0, 0, 0, 2, 1]
5회 시도 - 나온 수(3), 주사위:[1, 0, 1, 0, 2, 1]
6회 시도 - 나온 수(2), 주사위:[1, 1, 1, 0, 2, 1]
7회 시도 - 나온 수(6), 주사위:[1, 1, 1, 0, 2, 2]
8회 시도 - 나온 수(5), 주사위:[1, 1, 1, 0, 3, 2]
9회 시도 - 나온 수(1), 주사위:[2, 1, 1, 0, 3, 2]
10회 시도 - 나온 수(6), 주사위:[2, 1, 1, 0, 3, 3]

In [ ]:
import random

dice = [0,0,0,0,0,0]
for i in range(100):
  num = random.randint(1, 6)
  dice[num-1] = dice[num-1] + 1
  # print(f'{i+1}회 시도 - 나온 수({num}), 주사위:{dice}')

print(f'주사위 숫자의 나온 횟수: {dice}')
print(f'가장 큰 횟수: {max(dice)}의 주사위 눈금은: {dice.index( max(dice) )+1} ')

주사위 숫자의 나온 횟수: [17, 12, 20, 15, 14, 22]
가장 큰 횟수: 22의 주사위 눈금은: 6

###03. while 반복문

In [ ]:
hap = 0
a, b = 0, 0

while True :
  a = int(input("더할 첫 번째 수를 입력하세요 : "))
  if a == 0 :
    break
  b = int(input("더할 두 번째 수를 입력하세요 : "))
  hap

In [ ]:
treehit = 0

while treehit < 10:
    treehit += 1
    print(f"나무를 {treehit}번 찍었습니다.")
    if treehit == 10:
        print("나무 넘어갑니다~")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다~

###[실습문제] 무한반복 코드 빠져나오기

In [ ]:
# 조건에 맞으면 프로그램 빠져 나오기
prompt = """
    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: """
num = ''
while num != '4':
    num = input(prompt)
print('program finish!')

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 1

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 2

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 3

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 4
program finish!

In [ ]:
# 조건에 맞으면 프로그램 빠져 나오기
prompt = """
    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: """
num = ''
while True:
    num = input(prompt)
    if num == '4':break
print('program finish!')

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 1

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 2

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 5

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 3

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 6

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 8

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 1

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 2

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 3

    1.추가  2.삭제  3.수정  4.종료
    해당하는 번호를 입력해주세요: 4
program finish!

In [ ]:
coffee1_price = 2500
coffee2_price = 3000
coffee3_price = 3000
menu = f'''[커피 자동주문 머신 메뉴]
------------------------
- 아메리카노:  {coffee1_price}원
- 카페라떼:    {coffee2_price}원
- 카푸치노:    {coffee3_price}원
------------------------
원하시는 커피종류와 잔수를 입력하세요!
'''
print(menu)
coffee1 = int(input('아메리카노 몇 잔: '))
coffee2 = int(input('카페라떼   몇 잔: '))
coffee3 = int(input('카푸치노   몇 잔: '))
total = coffee1_price * coffee1 + coffee2_price * coffee2 + coffee3_price * coffee3
print(f'주문하신 총 가격은 {total}원 입니다.')

while True:
    money = int(input('돈을 입력해주세요: '))
    change = total - money
    total = change
    if change > 0:
        print(f'입력한 금액이 부족합니다.{total - money}원을 더 넣어주세요.')
    else:
        print(f'거스름돈은 {abs(change)}원 입니다. 커피 맛있게 드세요~')
        break

[커피 자동주문 머신 메뉴]
------------------------
- 아메리카노:  2500원
- 카페라떼:    3000원
- 카푸치노:    3000원
------------------------
원하시는 커피종류와 잔수를 입력하세요!

아메리카노 몇 잔: 1
카페라떼   몇 잔: 1
카푸치노   몇 잔: 1
주문하신 총 가격은 8500원 입니다.
돈을 입력해주세요: 7000
입력한 금액이 부족합니다.-5500원을 더 넣어주세요.
돈을 입력해주세요: 1000
입력한 금액이 부족합니다.-500원을 더 넣어주세요.
돈을 입력해주세요: 1000
거스름돈은 500원 입니다. 커피 맛있게 드세요~